.employer-details {
  position: absolute;
    width: 300px;
    margin: 25% 0 0 5%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .employer-name {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  .employer-info {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .employer-info p {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
  }