/* Menu.css */

.menuContainer {
  display: flex;
}
.delMenuProd{
  background-color: red;
}
.menuContent {
  width: 60%;
  color: black;
  position: absolute;
  left: 250px;
  top: 100px;
  font-size: 30px;
  padding: 0 0 80px 0 ;
}

.menuTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10%;
  margin-left: 5%;
}

.menuTable th,
.menuTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.menuTable th {
  background-color: #f2f2f2;
}

.menuTable tbody tr:nth-child(odd) {
  background-color: #f0f0f0; /* Set the background color for odd rows */
}

.menuTable tbody tr:nth-child(even) {
  background-color: white; /* Set the background color for even rows */
}

.menuButtons {
  width: 40%;
  padding-left: 20px; /* Add some padding between the table and buttons */
}

.menuTitle {
  position: absolute;
  left: 41%;
  top: 50px;
  color: black;
}


.menu-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30%;
}

/* Pagination Button Styles */
.menu-pagination button {
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.menu-pagination button:hover {
  background-color: darkgreen;
}

.menu-pagination button:disabled {
  background-color: red;
  cursor: not-allowed;

}

.menuPageNumber{
  margin-top: 60px;
}

/* Responsive Pagination for Smaller Screens */
@media (max-width: 480px) {
  .menu-pagination {
      flex-direction: row; /* Ensure inline display */
      width: 100%;
  }

  .menu-pagination span {
      font-size: 14px;
      color: white;
  }

  .menu-pagination button {
      font-size: 14px;
      padding: 8px 12px;
  }
}
