.modalContainer {
  position: fixed; /* Stays in place even if the page is scrolled */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: auto;
  z-index: 1000; /* Ensures it is on top of other elements */
}
#employerNameModal{
  width: 30%;
  margin-left: 5px;
}
.modalEmployer {
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}
  .modalContent input {
    width: 70%;
    margin-left: -20px;
  }
  
  .modalEmployerContent{
    background-color: #fff;
    width: 1000px;
    height: 800px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    align-items: auto;  
    justify-content: center;
    border-radius:20px;
    overflow: auto;
    transform: scale(0.8);
    margin-left: 40%;
    margin-top: -10%;
  }
  .modalEmployerContent input {
    width: 70%;
    margin-left: -20px;
  }
.emp-emailLbl{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: 65px;
    margin-bottom: -20px;
    color: #333; /* Text color */
    margin-left: -670px;
    font-weight: bold;
}
.emp-pass{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    color: #333; /* Text color */
    margin-left: -620px;
    
    font-weight: bold;
}
.emp-pass2{
  color: black ;
  display: block;
position: absolute;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: -20px;
    color: #333; /* Text color */
   
    
    font-weight: bold;
}
.emp-role{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: -340px;
    margin-bottom: -20px;
    color: #333; /* Text color */
    margin-left: 300px;
    font-weight: bold;
}
.emp-salary{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: 23px;
    margin-bottom: -10px;
    color: #333; /* Text color */
    margin-left: 320px;
    font-weight: bold;
}
.emp-birth{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #333; /* Text color */
    margin-left: 350px;
    font-weight: bold;
}
.emp-decription{
  color: black ;
  display: block;

    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #333; /* Text color */
    margin-left: 380px;
    font-weight: bold;
}
.emp-close {
  position: absolute;
  right: 990px;
  top: 20px;
  width: 30px; /* Reduced size */
  height: 30px; /* Reduced size */
  opacity: 0.3;
  cursor: pointer;
}

.emp-close:hover {
  opacity: 1;
}

.emp-close:before, .emp-close:after {
  position: absolute;
  left: 10px; /* Adjusted position */
  content: ' ';
  height: 22px; /* Reduced size */
  width: 2px;
  background-color: #333;
}

.emp-close:before {
  transform: rotate(45deg);
}

.emp-close:after {
  transform: rotate(-45deg);
}
.submitEmpl{
 
  margin-top: 150px;
  margin-left: 0px;
  width: 30%;
  font-size: 16px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modalLblEmplName{
  position: absolute;
  left: 108px;
  font-size: 20px;
 
 
  color: #333; /* Text color */
  font-weight: bold;
}
#employerName{
 position: absolute;
 top: 190px;
  width: 30%;
  margin-left: 8px;
}
#employerEmail{
  width: 30%;
  margin-left: 8px;
}
#employerPassword{
  width: 30%;
  margin-left: 8px;
}
#employerRole{
  width: 30%;
  margin-left: 500px;
}
#employerSalary{
  width: 30%;
  margin-left: 500px;
  margin-top: -10px;
}
#employerBirthdate{
  width: 30%;
  margin-left: 500px;
  margin-top: -10px;
}
#employerPassword2{
  position: absolute;
  width: 30%;
  margin-left: 8px;
  margin-top:25px;
}

.modalTextarea {
  width: 30%;
  margin-left: 500px;
  height: 200px;
  resize: none; /* Disable textarea resizing */
  padding: 10px; /* Optional: Add padding for better aesthetics */
  background-color: #f9f9f9;
  border-color: black;
  border-radius: 10px;
 
}

@media screen and (min-width: 1500px) and (max-width: 1630px) {
  .modalEmployerContent {
    transform: scale(0.8); /* Scale down the container */
  }
}


