.restaurantBack-restaurant {
    width: 230px;
    height: 120px;
    position: relative;
    margin-left: 100%-230px;
    float: left;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* fallback if image doesn't load */
    border-radius: 10px;
    overflow: hidden;
}
.openRestaurant{
    background: #3CB371;
}
.openReviews{
    background: #FF6347;
}

.imgTable-restaurant {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the card */
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
}

.buttons-container {
    position: absolute;
    top: 10px; /* Adjust to move buttons slightly from the top */
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between; /* Aligns buttons to the corners */
    z-index: 2; /* Make sure buttons are above the image */
}


.containerRest-restaurant{
    display: flex;               /* Use flexbox for centering */
    justify-content: center;     /* Center child elements horizontally */
    margin-top: 30px;  
}

.bottom-card-restaurant {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0; /* Stick to the bottom */
    background-color: #2D3142;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    z-index: 3; /* Ensures it stays above the image */
}
